html {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 20px;}


header {
    color: rgb(255, 254, 254);
    background-color: rgb(135, 12, 12);
    border: 3px double rgb(255, 255, 255);
    text-align: center;}


:any-link {
    color: rgb(255, 255, 255);
    text-align: left;
}

footer {
    color: rgb(255, 254, 254);
    background-color: rgb(135, 12, 12);
    border: 3px double rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}


nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
    font-size: 25px;
}



.selected_page {
    font-weight: bold;
    text-decoration: underline;
}


.chord_charts {
    margin-left: 90px;
    height: 50%;
    width: 40%;
}


.strumming_patterns {
    float: right;
    height: 80%;
    width: 20%;
    margin-top: 67px;
    margin-right: 90px;
    background-color: rgb(135, 12, 12);
    padding: 10px;
    border : 3.5px groove rgb(255, 255, 255);
    border-radius: 10px;
}

@media (max-width: 1200px) {
     .strumming_patterns {
        float: none;
        width: auto;
        margin: 10px;
        height: auto;
    }

    .chord_charts {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }
}
