html {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 20px;}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
    font-size: 25px;
}


header {
    color: rgb(255, 254, 254);
    background-color: rgb(135, 12, 12);
    border: 3px double rgb(255, 255, 255);
    text-align: center;}


:any-link {
    color: rgb(255, 255, 255);
    text-align: left;
}

.types_of_guitars {
    list-style-type: square;
    text-align: center;
    margin-left: 20px;
    padding: 10px;
    border: 3.5px groove rgb(255, 255, 255);
    background-color: rgb(135, 12, 12);
    width: fit-content;
    border-radius: 7px;
}

footer {
    color: rgb(255, 254, 254);
    background-color: rgb(135, 12, 12);
    border: 3px double rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.guitar1 {
    float: right;
}


.selected_page {
    font-weight: bold;
    text-decoration: underline;
}


.chord_charts {
    margin-left: 90px;
    height: 50%;
    width: 40%;
}


.strumming_patterns {
    float: right;
    height: 80%;
    width: 20%;
    margin-top: 67px;
    margin-right: 90px;
    background-color: rgb(135, 12, 12);
    padding: 10px;
    border : 3.5px groove rgb(255, 255, 255);
    border-radius: 10px;
}

.tab {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}


.carry_on {
  height: 20%;
    width: 50%;
    margin-left: 50px;
}

.slide {
    height: 20%;
    width: 20%;
    margin-left: 50px;
}

.techniques {
text-align: center;
}

th, td {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    border : 2px solid rgb(255, 255, 255);
    padding: 10px;
}


.scources {
    font-size: 1.5em;
    text-align: left;
    margin-top: 20px;
    margin-left: 10%;
}

h4 {
 margin-left: 5%;
 font-size: 1.5em;
}


.me {
float: right;
height: 50%;
width: 30%;
margin-top: 4%;
margin-right: 4%;
border: 3px solid rgb(255, 255, 255);
border-radius: 1%;
}

.donate {
    border: 3px double rgb(255, 255, 255);
    background-color: rgb(135, 12, 12);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 25px;
}

.intro-section {
    margin-bottom: 30px;
    text-align: center;
}

.exclusion-zone {
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 25px;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

.intro-vid {
    text-align: center;
}